DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=blog
ADMIN_PASSWORD=admin123

# Supabase keys
SUPABASE_URL=https://vkyaiwfoagfijtcdwiav.supabase.co
SUPABASE_KEY=sb_publishable_9V1qWqVEB_-h7HahxpUjzQ_Ha8Y84iq